immich:
  controllers:
    main:
      containers:
        main:
          image:
            tag: "v2.4.1"
          env:
            DB_HOSTNAME:
              valueFrom:
                secretKeyRef:
                  name: immich-database-app
                  key: host
            DB_USERNAME:
              valueFrom:
                secretKeyRef:
                  name: immich-database-app
                  key: user
            DB_PASSWORD:
              valueFrom:
                secretKeyRef:
                  name: immich-database-app
                  key: password
            DB_DATABASE_NAME:
              valueFrom:
                secretKeyRef:
                  name: immich-database-app
                  key: dbname

  immich:
    persistence:
      library:
        existingClaim: immich-library-pvc
  valkey:
    enabled: true
psql:
  storage: "1Gi"

server:
  domain: immich.happyandhairy.com