apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: immich
  labels:
    app: immich
spec:
  entryPoints:
    - websecure
  routes:
    - match: {{ printf "Host(`%s`)" .Values.server.domain }}
      kind: Rule
      services:
      - name: immich-server
        port: 2283
  tls:
    certResolver: letsencrypt