traefik:

  api:
    dashboard: true
    # insecure: false

  ports:
    traefik:
      expose:
        default: true

  ingressRoute:
    dashboard:
      enabled: true
      # matchRule: PathPrefix(`/dashboard`)
      # entryPoints:
      #   - web
  # Enable Observability
  logs:
    general:
      level: DEBUG
    # This enables access logs, outputting them to Traefik's standard output by default. The [Access Logs Documentation](https://doc.traefik.io/traefik/observability/access-logs/) covers formatting, filtering, and output options.
    access:
      enabled: true