apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - path: patch-ingress.yaml
    target:
      group: traefik.io
      version: v1alpha1
      kind: IngressRoute
  - path: patch-deployment.yaml
    target:
      group: apps
      version: v1
      kind: Deployment
      labelSelector: app=paperless-ngx

