apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: whoami
  labels:
    app: whoami
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`domain.invalid`) # needs to be replaced by patch
      kind: Rule
      services:
      - name: whoami
        port: 80
  tls:
    certResolver: letsencrypt