apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: homeserver
  namespace: argocd
  # Finalizer that ensures that project is not deleted until it is not referenced by any application
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  description: Project to group Apps deployed on homeserver

---

apiVersion: v1
kind: Secret
metadata:
  name: homeserver
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: git
  url: https://github.com/schemmeltobi/homeserver
  project: homeserver


---

apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: app-of-apps
  namespace: argocd
spec:
  project: homeserver # needs to be the same as defined in the top block of this yaml file
  source:
    repoURL: https://github.com/schemmeltobi/homeserver
    targetRevision: HEAD
    path: k8s/argocd/app-of-apps
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
